<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCA8nStgr3KFFAueIHwYynGg8xyDRfDhTM</string>
	<key>GCM_SENDER_ID</key>
	<string>90008093445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adminapp.app</string>
	<key>PROJECT_ID</key>
	<string>stocksolon-2</string>
	<key>STORAGE_BUCKET</key>
	<string>stocksolon-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90008093445:ios:84c05d6f8058083ab76d6c</string>
</dict>
</plist>